@using EveryNote.Mvc.Models.Notifies
@model WarningViewModel

<link href="~/Content/login-register-css/login.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    <div id="login">
        <h3 class="text-center text-white pt-5">@Model.Title</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                @Html.ValidationSummary(false)
                <div id="login-column" class="col-md-6 offset-md-3">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post">
                            <h3 class="text-center text-info">@Model.Header</h3>
                            @foreach (var item in Model.Notifies)
                            {
                                <p>@item</p>
                            }

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@{
    string js = String.Empty;
    js = "setTimeout(function (){window.location = \""+ Model.RedirectingUri+"\"},"+Model.RedirectingTime+");";
 }

<script>
    $(function () {
        $("footer").parent().hide();
        @Html.Raw(js);
    });
</script>



