@using EveryNote.Entities.ViewModels

@model EditUserViewModel
@{
    ViewBag.Title = "EditProfile";
}
@using (Html.BeginForm())
{
    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <img src=@Model.ImageFilePath id="UserImageName" name="UserImageName" />
            </div>
            <div class="col-md-6">
                <div class="row form-group">
                    <div class="col-md-4">@Html.LabelFor(x => x.UserName, new { @for = "username" })</div>
                    <div class="col-md-8">@Html.EditorFor(x => x.UserName, new { @class = "form-control", id = "username" })</div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">@Html.LabelFor(x => x.EMail, new { @for = "email" })</div>
                    <div class="col-md-8"> @Html.EditorFor(x => x.EMail, new { @class = "form-control", @id = "email" })</div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4"> @Html.LabelFor(x => x.FirstName, new { @for = "firstName" })</div>
                    <div class="col-md-8"> @Html.EditorFor(x => x.FirstName, new { @class = "form-control", id = "firstName" })</div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">@Html.LabelFor(x => x.LastName, new { @for = "LastName" })</div>
                    <div class="col-md-8">@Html.EditorFor(x => x.LastName, new { @class = "form-control", id = "LastName" })</div>
                </div>
                <div class="row form-group">
                    <div class=" offset-md-8 col-md-4 ">
                        <input type="submit" name="kaydet" class="form-control" value="kaydet" />
                    </div>
                </div>
            </div>

        </div>


    </div>
}

