@using EveryNote.Entities.ViewModels

@model EditUserViewModel
@{
    ViewBag.Title = "EditProfile";
}
@using (Html.BeginForm("EditUser", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="container">
       
        <div class="row">
            <div class="col-md-4">
                <div class="row"><img src=@Model.ImageFilePath /></div>
                <div class="row"><input type="file" name="UserImageName"/></div>
                <div>@Html.HiddenFor(x=>x.ImageFilePath)</div>
            </div>

            <div class="col-md-6">
                @Html.ValidationSummary(false)
                <div class="row form-group">
                    <div class="col-md-4">@Html.LabelFor(x => x.UserName, new { @for = "username" })</div>
                    <div class="col-md-8">@Html.EditorFor(x => x.UserName, new { @class = "form-control", id = "username" })</div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">@Html.LabelFor(x => x.EMail, new { @for = "email" })</div>
                    <div class="col-md-8">@Html.EditorFor(x => x.EMail, new { @class = "form-control", @id = "email" })</div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">@Html.LabelFor(x => x.Password, new { @for = "password" })</div>
                    <div class="col-md-8"> @Html.EditorFor(x => x.Password, new { @class = "form-control", @id = "password" })</div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4"> @Html.LabelFor(x => x.FirstName, new { @for = "firstName" })</div>
                    <div class="col-md-8"> @Html.EditorFor(x => x.FirstName, new { @class = "form-control", id = "firstName" })</div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">@Html.LabelFor(x => x.LastName, new { @for = "LastName" })</div>
                    <div class="col-md-8">@Html.EditorFor(x => x.LastName, new { @class = "form-control", id = "LastName" })</div>
                </div>
                <div class="row form-group">
                    <div class=" offset-md-8 col-md-4 ">
                        <input type="submit" name="kaydet" class="form-control" value="kaydet" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class=" offset-md-8 col-md-4 ">
                        @Html.HiddenFor(m => m.Id)
                    </div>
                </div>
            </div>

        </div>


    </div>

}
